html{
  font-size: 62.5%;
  height: 100vh;
}

body{
  background-color: white;
  font-family: 'Helvetica Neue', 'Helvetica', 'Trebuchet MS', 'Arial', sans-serif;
  font-size: 1.6rem;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav{
  ul{
    font-size: 1.8rem;
  }

  li{
    border: 1px solid coral;
    border-radius: 3px;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;

    &:not(:last-child){
      margin-right: 20px;
    }
  }

  a, [data-contrast="toggle"]{
    padding: 5px 10px;
    display: inline-block;
  }
}

main {
  flex-grow: 1;
  line-height: 2;
  font-size: 1.8rem;
  text-align: justify;
}

p {
  color: #999;
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: #ff5847;
}

ul {
  margin: 40px 0;
  padding: 0;
}

.inline-center{
  text-align: center;
}

.instruction{
  border: 1px solid #ccc;
  padding: 25px 25px 25px 50px;
  margin: 25px;
  color: #999;

  li {
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.page-content {
  padding: 15px 25px;
}